form.stacked > *, form.stacked .column > *, form.stacked .side-by-side > * {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

input {
    background: transparent;
    border-width: 1.5px;
    border-color: white;
}

button {
    border: none;
    margin-top: 1em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

/*TODO: Border Color don't change when pressed'*/

button:active{
    border-color: black;
    border-width: 2px;
}